  .header {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
  }
  
  .forecast-item__container {
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;

    .sun__content {
      padding: 20px 0 20px 20px;
      border-bottom: 1px solid #000000;
    }

    .forecast-item__content {
      padding: 20px 0;
      text-align: center;
      align-items: center;
    }
  }

  .background-green {
    background-color: #00A550;
  }

  .background-yellow {
    background-color: #F7C118;
  }

  .background-red {
    background-color: #C03B13;
  }